MAALI_SYSTEM=nectar
MAALI_ROOT="/$MAALI_SYSTEM/$MAALI_OS"
MAALI_BUILD_DIR="$MAALI_ROOT/build"
MAALI_MODULE_DIR="$MAALI_ROOT/modulefiles"
MAALI_SRC="$MAALI_ROOT/src"
#MAALI_SYSTEM_BUILD="YES"

# note this is just a place holder for the default gnu compilers
# is not used with the initial install of maali.
MAALI_DEFAULT_COMPILERS="gnu/4.9.1"
#MAALI_DEFAULT_GCC_COMPILERS=""
#MAALI_DEFAULT_PYTHON=""
#MAALI_DEFAULT_MPI="openmpi/1.7.5"
